body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; /*Fill Page, Keep img fixed/centered*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: hidden;
}

h1 {
  text-transform: capitalize;
  color: white;
}

.btn {
  padding: 1rem 2rem;
  font-size: 700;
  border-radius: 300px;
  text-transform: uppercase;
  background-color: orange;
  border-color: orange;
  transition: all 1s;

}

.btn:hover {
  background-color: orangered;
  border-color: orangered;
  border-width: 4px;
  transform: scale(1.1);
}

.container {
    display: grid;
    grid-template-rows: 100px 100px;
    justify-content: center;
    align-content: center;
    height: 105vh;
    grid-row-gap: 10rem;
    
    
   
    
}

.button {
    display: grid;
    justify-content: center;
    
}